.filter-box-container {
  @apply text-home_text z-50 relative;
}

.filter-box-header {
  @apply w-3/6 flex items-center px-2 py-3 justify-between mt-9 lg:mt-0 lg:mx-0 mx-4 drop-shadow-sm rounded-md cursor-pointer 2md:w-96 2md:mx-10;
}

.filter-box-header div:first-child {
  @apply mx-3;
}

.filter-box-header div:last-child {
  @apply text-xl;
}

.filter-box-menu {
  @apply absolute w-3/6 flex flex-col items-start bg-head_white mx-4 lg:mx-0 mt-1 rounded-md drop-shadow-sm 2md:w-96 2md:mx-10;
}

.filter-box-menu-item {
  @apply px-4 cursor-pointer w-full py-1;
}

.menu-enter {
  opacity: 0;
  transform: scale(0.9);
}
.menu-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.menu-exit {
  opacity: 1;
  transform: scale(1);
}
.menu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
